<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEXTS GOT DISPLAYED</title>
</head>
<body>
   
    <div class="container">
        <div class="card">
        
            <button onclick="location.href='{% url 'output' %}'" class="btn btn-primary">Display the Texts From Given Image</button>
        </div>    
    </div>
</body>
</html>